@import url(bootstrap-grid-and-reboot.min.css)

//шрифт SVG иконок
@font-face
	font-family: 'icomoon'
	src: url('../fonts/icomoon.eot?mat5vp')
	src: url('../fonts/icomoon.eot?mat5vp#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?mat5vp') format('truetype'), url('../fonts/icomoon.woff?mat5vp') format('woff'), url('../fonts/icomoon.svg?mat5vp#icomoon') format('svg')
	font-weight: normal
	font-style: normal

[class^="icon-"], [class*=" icon-"]
	font-family: 'icomoon' !important
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon-EA_icon:before 
	content: "\e902"

.icon-question:before 
	content: "\e901"

.icon-user:before 
	content: "\e900"
a:hover 
	text-decoration: none
.menu 
	margin: 0
	list-style-type: none
	li 
		display: inline-block
header 
	position: fixed
	width: 100%
	top: 0
	left: 0
	background-color: #161616
	padding: 0 32px
	text-align: right
	.menu 
		li 
			margin: 0 10px
			a
				padding: 7px
				color: #fff
				opacity: .7
				font-size: 18px
				display: inline-block
				&:hover
					opacity: 1
				&.EA_logo
					color: #a3a3a3